:root {
  --lavendar: #dba6f7;
  --dark-pink: #962d72;
  --pink: #f1c8cf;
  --fancy-font: "Parisienne", sans-serif;
}

h3,
p {
  max-width: 60ch;
  margin: 0 auto;
}

body {
  background-color: var(--dark-pink);
  color: black;
  font-family: "Roboto", serif;
  line-height: 1.5em;
  font-size: 18px;
  padding-bottom: 50px;
}

header {
  background-color: var(--dark-pink);
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h1 {
  color: var(--pink);
  font-family: var(--fancy-font);
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}

.title p {
  font-size: 22px;
  font-weight: 700;
}

.spacer {
  padding-right: 25px;
}

nav ul {
  display: flex;
  padding: 20px;
}

nav ul li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: var(--pink);
}

a:hover {
  color: var(--lavendar);
}

#welcome {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(roses.jpg);
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pink);
  font-size: 60px;
  font-family: var(--fancy-font);
}

section {
  padding: 20px 15px 20px;
  text-align: center;
  scroll-margin-top: 250px;
}

section h2 {
  font-family: var(--fancy-font);
  color: var(--pink);
  font-size: 30px;
  padding: 0 0 20px;
}

p {
  padding-bottom: 10px;
}

p.heart {
  color: var(--lavendar);
  font-size: 50px;
  padding: 10px;
  text-align: center;
}

.address {
  padding: 10px;
  font-size: 20px;
  font-weight: 700px;
}

li h3 {
  color: var(--lavendar);
  text-align: justify;
  padding: 10px 0;
}

li p {
  text-align: justify;
}

section li h3:before {
  content: "\2665";
  padding-right: 5px;
  color: var(--lavendar);
}
